In [2]:
#First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [5]:
#Get a help on add function
help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [6]:
#Call the function add()
add(1)

1 if you add one 2

2

In [7]:
#Call the function add()
add(2)

2 if you add one 3

3

In [13]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [14]:
# Use mult() multiply two integers
Mult(2, 3)

6

In [15]:
# Use mult() multiply two floats
Mult(10.0, 3.14)

31.400000000000002

In [18]:
# Use mult() multiply two different type values together
Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

In [21]:
# Function Definition
def square(a):
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [22]:
# Initializes Global variable  
x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

In [23]:
# Directly enter a number as parameter
square(2)

2 if you square + 1 5

5

In [31]:
# Define functions, one with return value None and other without return value
def JT():
    print('Jeremias Tivane')
def TJ():
    print('Tivane Jeremias')
    return(None)

In [33]:
# See the output
JT()

Jeremias Tivane

In [35]:
# See the output
TJ()

Tivane Jeremias

In [40]:
# See what functions returns are
print(JT())
print(TJ())

Jeremias Tivane
None
Tivane Jeremias
None

In [41]:
# Define the function for combining strings
def con(a, b):
    return(a + b)

In [45]:
# Test on the con() function
con("This ", "is")

'This is'

In [46]:
# a and b calculation block1
a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0
else:
    c1 = 5
c1

5

In [47]:
# a and b calculation block2
a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

In [48]:
# Make a Function for the calculation above
def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

In [49]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

In [50]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

In [51]:
# Build-in function print()
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [52]:
# Use sum() to add every element in a list or tuple together
sum(album_ratings)

70.0

In [53]:
# Show the length of the list or tuple
len(album_ratings)

8

In [54]:
# Function example
def type_of_album(artist, album, year_released):
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [55]:
# Print the list using for loop
def PrintList(the_list):
    for element in the_list:
        print(element)

In [72]:
# Implement the printlist function
PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

In [74]:
# Example for setting param with default value
def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
    else:
        print("this album is good its rating is",rating)

In [76]:
# Test the value with default value and with input
isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

In [78]:
#Global variables

# Example of global variable
artist = "Michael Jackson"
def printer1(artist):
    internal_var1 = artist
    print(artist, "is an artist")
    
printer1(artist)
# try runningthe following code
#printer1(internal_var1)

Michael Jackson is an artist

In [80]:
artist = "Michael Jackson"
def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

In [82]:
#Scope of a Variable
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0
print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

In [83]:
# Deleting the variable "myFavouriteBand" from the previous example to demonstrate an example of a local variable 

del myFavouriteBand

# Example of local variable

def getBandRating(bandname):
    myFavouriteBand = "AC/DC"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is: ", getBandRating("AC/DC"))
print("Deep Purple's rating is: ", getBandRating("Deep Purple"))
print("My favourite band is", myFavouriteBand)

AC/DC's rating is:  10.0
Deep Purple's rating is:  0.0

NameError: name 'myFavouriteBand' is not defined

In [84]:
# Example of global variable and local variable with the same name

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is:  10.0
My favourite band is: AC/DC

In [86]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 3
Horsefeather
Adonis
Bone
No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

In [87]:
def printDictionary(**args):
    for key in args:
        print(key + " : " + args[key])

printDictionary(Country='Canada',Province='Ontario',City='Toronto')

Country : Canada
Province : Ontario
City : Toronto

In [88]:
def addItems(list):
    list.append("Three")
    list.append("Four")

myList = ["One","Two"]

addItems(myList)

myList

['One', 'Two', 'Three', 'Four']

In [95]:
# Write your code below and press Shift+Enter to execute
def div(a, b):
    return(a/b)

In [96]:
# Use the con function for the following question
def con(a, b):
    return(a + b)

In [97]:
# Write your code below and press Shift+Enter to execute
Yes, for example: 
con(2, 2)

SyntaxError: invalid syntax (<ipython-input-97-84abd3670592>, line 2)

In [99]:
# Write your code below and press Shift+Enter to execute
Yes, for example:
con(['a', 1], ['b', 1])

SyntaxError: invalid syntax (<ipython-input-99-ca188cff6c1c>, line 2)